.dash_header {
  width: calc(100% - 280px);
  display: grid;
  grid-template-columns: auto auto;
  padding: 39px 56px 22px 52px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  // color: white;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  &.bgDark {
    background: #0202c6;
  }

  @media (min-width: 1271px) {
    left: 280px;
    position: fixed;
    z-index: 2;
  }

  @media (max-width: 1271px) {
    width: var(--full);
    // margin-top: 60px;
    box-shadow: none;
  }

  @media (max-width: 659px) {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: flex-start;
  }

  &__notif {
    position: relative;
    display: flex;
    height: var(--full);
    border-radius: 25px;
    padding: 13px 0px;
    @media (max-width: 659px) {
      display: none;
    }

    > span {
      font-size: 14px;
      font-weight: 400;
      color: var(--black);
    }

    @media (max-width: 659px) {
      order: 2;
      width: var(--full);
      max-width: 500px;
    }

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      background-size: cover;
      flex-shrink: 0;
      position: absolute;
      left: 0;
    }

    input {
      padding-left: 27px;
      border: 0;
      width: 300px;

      @media (max-width: 659px) {
        width: var(--full);
      }

      &::placeholder {
        color: var(--fade);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    height: var(--full);

    @media (max-width: 659px) {
      width: var(--full);
      margin-bottom: 16px;
    }

    @media (max-width: 319px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .profile_img {
      width: 40px;
      height: 40px;
      margin-left: 32px;

      @media (max-width: 659px) {
        margin-left: auto;
      }

      @media (max-width: 319px) {
        margin-left: 0;
        margin-bottom: 16px;
      }

      img {
        display: block;
        object-fit: cover;
        border-radius: 100vh;
        width: var(--full);
        height: var(--full);
      }
    }

    .dropdown_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--full);
      margin-left: 10px;
      color: var(--dark-blue);

      @media (max-width: 319px) {
        margin-left: 0;
      }

      button {
        padding: 0;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: auto;

        > span {
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--text-secondary);
          white-space: nowrap;
        }

        > svg {
          width: 8px;
          height: 8px;
          margin-left: 7px;

          path {
            fill: var(--text-primary);
          }
        }
      }
    }
  }

  .hamburgerBtn {
    display: none;

    @media (max-width: 1264px) {
      display: block;
    }
  }
}
